
{% set Component = name.pascalCase() %}

function {{ Component }}() {
  const el = document.createElement('div')
  el.innerHTML = `<div>{{ name.value }}</div>`
  return el
}


export default {{ Component }}