
{% set Component = name.pascalCase() %}


type {{ Component }}Props = {
 
}

function {{ Component }}(props: {{ Component }}Props) {
  return <div>{{ name.value }}</div>
}


export default {{Component }}