import styles from './{{ name.kebabCase() }}.module.scss';

function {{ name.pascalCase()}}Page() {
  return <div className={styles.container}>{{name.value}} Page</div>;
}

export default {{ name.pascalCase()}}Page;