{% if parentRoute.snakeCase() | lower %}
export const {{ name.camelCase() }}Route = '/{{ parentRoute.snakeCase() | lower }}/{{ name.snakeCase() | lower }}'
{% else %}

export const {{ name.camelCase() }}Route = '/{{ name.snakeCase() | lower }}'
{% endif %}
